---
layout: home
title: BLOG.rh-flow.de
---
{% for post in site.posts %}
  {% if forloop.index <= 6 %}
  <article class="post type-post status-publish format-standard hentry post-bright">
  	<header class="entry-header">
        {% if post.thumb %}
        <div class="post-thumb">
            <a href="{{ post.url }}"><img width="889" height="346" src="{{ site.url }}{{ post.thumb }}" class="attachment-post-thumbnail wp-post-image"></a>
        </div>
        {% endif %}
				<h1 class="entry-title"><a href="{{ post.url }}" rel="bookmark">{{ post.title }}</a></h1>
		</header><!-- .entry-header -->

		<div class="entry-content">
  		{{ post.excerpt }}
      <p> <a href="{{ post.url }}#more" class="more-link">Continue reading <span class="meta-nav">&rarr;</span></a></p>
  	</div><!-- .entry-content -->

  	<footer class="entry-meta">
      <div class="posted-on icon icon-month">
        Posted on <time class="entry-date" datetime="{{ page.date }}">{{ post.date | date_to_string }}</time></a>
      </div>
      <div class="byline icon icon-user">
        By <span class="author vcard">{{ post.author }}</span>
      </div>
    </footer>
  </article>
  {% endif %}
{% endfor %}

<h2 class="entry-title" style="text-align: center;"><a href="index_older.html">Ältere Posts</a></h2>
