---
layout: home
title: BLOG.rh-flow.de
---
{% for post in site.posts %}
  {% if forloop.index <= 3 %}
    <article class="post type-post status-publish format-standard hentry post-bright">
  	<header class="entry-header">
        {% if forloop.index == 0 and post.thumb %}
        <div class="post-thumb">
            <a href="{{ post.url }}"><img width="889" height="346" src="{{ post.thumb }}" class="attachment-post-thumbnail wp-post-image"></a>
        </div>
        {% endif %}
				<h1 class="entry-title"><a href="{{ post.url }}" rel="bookmark">{{ post.title }}</a></h1>
		</header><!-- .entry-header -->

		<div class="entry-content">
  		{{ post.excerpt }}
      <p> <a href="{{ post.url }}#more" class="more-link">Continue reading <span class="meta-nav">&rarr;</span></a></p>
  	</div><!-- .entry-content -->

  	<footer class="entry-meta">
      {% if post.date_first == blank %}
        <div class="posted-on icon icon-month">
          Posted on <time class="entry-date" datetime="{{ post.date }}">{{ post.date | date_to_string }}</time>
        </div>
      {% else %}
        <div class="last-update-on icon icon-refresh">
          Last update on <time class="entry-date" datetime="{{ post.date }}">{{ post.date | date_to_string }}
        </div>
      {% endif %}

    </footer>
    </article>

  {% else %}
  <article class="post type-post status-publish format-standard hentry post-bright article-list">
    <header class="entry-header">
				<div class="entry-title article-list">
          <a href="{{ post.url }}" rel="bookmark">{{ post.title }}</a>
          <span class="time">(<time class="entry-date" datetime="{{ page.date }}">{{ post.date | date_to_string }}</time>)</span>
        </div>
		</header><!-- .entry-header -->
  </article>
  {% endif %}
{% endfor %}
