
	<script type="text/javascript">

		(function(){

			var cookieBar = function() { cookieChoices.showCookieBar({ linkHref: '', dismissText: '', position: '', cookieText:'', linkText: '', language: 'de'}) };

			if(document.addEventListener) {
				document.addEventListener('DOMContentLoaded', cookieBar);
			}
			else {
				document.attachEvent('onreadystatechange', function(event) {
		            if ( document.readyState === "complete" ) {
		            	cookieBar();
					}
				});
			}
		})();

	</script>
