<!-- SIDEBAR -->
<aside id="sidebar" class="widget-area" role="complementary">
	{% comment %}{% include sidebar-search.html %}{% endcomment %}
	{% include sidebar-categories.html %}
	{% include sidebar-projects.html %}

	<aside class="widget widget_text"><div class="textwidget">
		Text and source licensed<br/>
		by <a href="https://creativecommons.org/licenses/by-sa/3.0/de/" target="_blank">CC BY-SA 3.0 DE</a></div>
	</aside>

	<aside class="widget widget_nav_menu">
		<ul class="menu">
			<li class="menu-item menu-item-type-post_type menu-item-object-page">
				<a href="{{ site.baseurl }}/impressum/">Impressum</a></li>
			<li class="menu-item menu-item-type-post_type menu-item-object-page">
				<a href="https://twitter.com/rhflow_de"><i class="genericon genericon-twitter"></i> @rhflow_de</a></li>
			<li class="menu-item menu-item-type-post_type menu-item-object-page">
				<a href="https://github.com/ronnyhartenstein/ronnyhartenstein.github.io/"><i class="genericon genericon-github"></i></a></li>
		</ul>
	</aside>
</aside><!-- #sidebar .widget-area -->
<!-- /SIDEBAR -->
