
<aside class="widget widget_membership">
  <a href="https://igphp.de/" target="_blank" class="nohover">
    <img src="{{ site.baseurl }}/images/igphp.svg" style="width: 100%; margin-bottom: 3rem;" alt="Interessengemein​schaft PHP e.V." title="Interessengemein​schaft PHP e.V." class="project-img">
  </a>
  <a href="https://phpug-dresden.org/" target="_blank" class="nohover">
    <img src="{{ site.baseurl }}/images/phpugdd.png" alt="PHP Usergroup Dresden e.V." title="PHP Usergroup Dresden e.V." class="project-img">
  </a>
</aside>
