<aside id="text-4" class="widget widget_text">
  <div class="textwidget">
    <a href="https://twitter.com/rhflow_de" title="Twitter"><img src="http://rhflow.wp-root.rh-flow.de/files/2015/03/twitter.png" width="50" height="50"></a> &nbsp;
    <a href="https://www.facebook.com/ronny.hartenstein" title="Facebook"><img src="http://rhflow.wp-root.rh-flow.de/files/2015/03/facebook.png" width="50" height="50"></a> &nbsp;
    <a href="https://plus.google.com/+RonnyHartenstein/posts" title="Google+"><img src="http://rhflow.wp-root.rh-flow.de/files/2015/03/googleplus.png" width="50" height="50"></a>
  </div>
</aside>
