{% if page.nocomments == blank %}
  {% comment %} don't forget footer-assets.html! {% endcomment %}
<div id="disqus_thread"></div>
<script>
{% comment %} https://disqus.com/admin/universalcode/#configuration-variables {% endcomment %}
var disqus_config = function () {
    this.page.url = '{{ site.url }}{{ page.url }}';
    {% if page.wordpress_id != blank %}
      this.page.identifier = '764 {{ site.url }}/?p={{ page.wordpress_id }}';
    {% else %}
      this.page.identifier = '{{ page.url }}';
    {% endif %}
};
</script>
<script src="{{ site.baseurl }}/js/lazy_disqus.js"></script>
<script id="dsq-count-scr" src="//rhflow.disqus.com/count.js" async></script>
{% endif %}
