<footer class="entry-meta">
  {% if page.date_first == blank %}
    <div class="posted-on icon icon-month">
      Posted on <time class="entry-date" datetime="{{ page.date }}">{{ page.date | date_to_string }}</time>
    </div>
  {% else %}
    <div class="posted-on icon icon-month">
      Posted on {{ page.date_first | date_to_string }}
    </div>
    <div class="last-update-on icon icon-refresh">
      Last update on <time class="entry-date" datetime="{{ page.date }}">{{ page.date | date_to_string }}
    </div>
  {% endif %}
  {% comment %}<div class="cat-links icon icon-category">
    <ul class="post-categories">
      {% for category in page.categories %}
        <li><a rel="category tag" href="{{ site.baseurl }}/category/{{ category | first }}" title="View all posts in {{ category[1] }}">
            {{ category[1] }}</a></li>
      {% endfor %}
    </ul>
  </div>{% endcomment %}
  <div class="history icon icon-time">
    <a href="https://github.com/ronnyhartenstein/ronnyhartenstein.github.io/commits/master/{{page.path}}" target="_blank">Show History</a>
  </div>
  <div class="source icon icon-code">
    <a href="https://github.com/ronnyhartenstein/ronnyhartenstein.github.io/blob/master/{{page.path}}" target="_blank">View Markdown</a>
  </div>

</footer><!-- .entry-meta -->
