<footer class="entry-meta">
  <div class="posted-on icon icon-month">
    Posted on <time class="entry-date" datetime="{{ page.date }}">{{ page.date | date_to_string }}</time></a>
  </div>
  <div class="byline icon icon-user">
    By <span class="author vcard">{{ page.author }}</span>
  </div>
  <div class="cat-links icon icon-category">
    <ul class="post-categories">
      <li><a rel="category tag" href="http://blog.rh-flow.de/category/allgemein/" title="View all posts in Allgemein" >Allgemein</a></li>
    </ul>
  </div>
</footer><!-- .entry-meta -->
