{% if page.previous != nil || page.next != nil %}
<nav role="navigation" id="nav-below" class="site-navigation post-navigation">
	<h1 class="assistive-text">Post navigation</h1>
	{% if page.previous != nil %}
	<div class="nav-previous"><a href="{{ page.previous.url }}" rel="prev">
		<span class="meta-nav">&larr;</span> {{ page.previous.title }}</a>
	</div>
	{% endif %}
	{% if page.next != nil %}
	<div class="nav-next"><a href="{{ page.next.url }}" rel="nex">
		<span class="meta-nav">&larr;</span> {{ page.next.title }}</a>
	</div>
	{% endif %}
</nav><!-- #nav-below -->
{% endif %}
